.wrap{
  width: 1000px;
  max-height: 663px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #000;
  opacity: .5;
}
.localVideo{
  width: 150px;
  height: 100px;
  border: 1px solid #ccc;
  display: block;
}
.remoteVideo{
  width: 600px;
  height: 400px;
  border: 1px solid #ccc;
  display: block;
  margin: 0 auto;
}
.states{
  width: 100%;
  overflow: hidden;
  height: 120px;
  /* margin: 0 auto; */
}
.hangup{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* float: right; */
  margin-top: 20px;
  margin-left: 450px;
}
