  ul,li{
      margin: 0px;
      padding: 0px;
      list-style: none;
  }
.rightBottom{
    height: 30%;
    border-top: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  .statusCard{
    height: 20%;
  }
  
  .input{
    height: 60%;
    text-align: left;
    outline: none;
    padding: 0px 10px;
    overflow: hidden;
  }
  .send{
    height: 20%;
  }
  .btn{
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    border: 1px solid #ccc;
    text-align: center;
    outline: none;
    float: right;
  }
  .tip{
    display: inline-block;
    transform: translateX(220px);
    line-height: 30px;
  }
  #fileIpt{
    position: relative;
    z-index: 10;
    opacity: 0;
    transform: translateY(-20px);
  }
  .fileBtn{
    width: 20px;
    height: 20px;
    opacity: 0;
  }


  .iconCard div:nth-of-type(1) {
    display: flex !important;
  }
  .iconCard div:nth-of-type(1) div:nth-of-type(1){
    display: flex !important;
    align-items: center !important;
  }
  .iconCard div:nth-of-type(1) div:nth-of-type(2) div:nth-of-type(1) span{
    top: 50% !important;
    transform: translateY(-25%) !important;
  }
  .iconCard div:nth-of-type(1) div:nth-of-type(1) div{
    border: none !important;
    /* margin: 0px !important; */
  }
  .iconCard{
    height: 300px;
    width: 300px;
    position: absolute;
    display: block;
    top: -312px;
    background-color: #fff;
  }
  .point{
    position: absolute;
    top: -11px;
    border: 10px solid transparent;
    border-top-color: #fff;
    display: inline-block;
  }
  .emjoi{
    width: 30px;
    height: 30px;
    float: left;
    margin: 0px 10px;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .file,.rtc{
    width: 30px;
    height: 30px;
    float: left;
    margin: 0px 10px;
    overflow: hidden;
  }
  .Rtc{
    width: 30px;
    height: 30px;
  }
  .Emjoi,.File{
    width: 20px;
    height: 20px;
  }
  .show{
    display: block;
  }
